<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.renang">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Renang">
        <activity
            android:name=".HasilKuis"
            android:exported="false" />
        <activity
            android:name=".MenuKuis"
            android:exported="false" />
        <activity
            android:name=".KolamRenang"
            android:exported="false" />
        <activity
            android:name=".FasPerlengkapan"
            android:exported="false" />
        <activity
            android:name=".TekDasar"
            android:exported="false" />
        <activity
            android:name=".TekRenang"
            android:exported="false" />
        <activity
            android:name=".SejRenang"
            android:exported="false" />
        <activity
            android:name=".PengRenang"
            android:exported="false" />
        <activity
            android:name=".MenuBelajar"
            android:exported="false" />
        <activity
            android:name=".MenuAwal"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>